/* --------------------------- modal -------------------------------------------- */

#signin .modal-header h4,
#signup .modal-header h4 {
  text-align: center;
  color: #23668B;
}

#signin .modal-footer,
#signup .modal-footer  {
  margin-top: 0;
  background-color: #f4f4f4;
  text-align: left !important;
}

#signin .modal-footer p,
#signup .modal-footer p {
  margin-bottom: 15px;
}
.confirm-btn {
    width: 100%;
    padding: 15px 0px;
    color: #fff;
    background-color: rgb(35, 102, 139);
}
.confirm-btn:hover{
  color: #fff;
  background-color: rgb(22,68,94);
}

/* ---------------------------------------------  unnecessary   -------------------------- */

a.signin, a.signup {
    width: 100%;
    position: relative;
    color: #fff;
    padding: 58px 62px;
    font-size: 29px;
    cursor: pointer;
    text-transform: capitalize;
}

a.signin:hover,
a.signup:hover,
a.signin:focus,
a.signup:focus,
a.signin:active,
a.signup:active{
    text-decoration: none;
    border: none;
    box-shadow: -1px 4px #626262;
    outline: none;
}

a.signin {
    background-color: green;
}

a.signup {
    background-color: red;
}

body {
    height: 662px;
    padding-top: 22%;
}
